javascript:
  window.replayConstants = {
    directUploadConfig: JSON.parse('#{raw direct_upload_config.to_json}'),
    setupLocations: JSON.parse('#{raw Setup.locations.to_json}'),
    Job: {
      rotations: JSON.parse('#{raw Job.rotations.to_json}')
    },
    assets: {
      images: {
        segmentEffort: "#{asset_path('segment-effort.png')}"
      }
    }
  };
