dropbox_app_key: 'TRUST_NO_ONE'
dropbox_app_secret: 'TRUST_NO_ONE'
strava_client_id: 'TRUST_NO_ONE'
strava_api_key: 'TRUST_NO_ONE'
google_maps_browser_key: 'TRUST_NO_ONE'
rollbar_server_access_token: 'TRUST_NO_ONE'
rollbar_client_access_token: 'TRUST_NO_ONE'
aws_access_key_id: 'TRUST_NO_ONE'
aws_secret_access_key: 'TRUST_NO_ONE'
aws_region: 'TRUST_NO_ONE'
aws_s3_bucket: 'TRUST_NO_ONE'
aws_et_pipeline_id: 'TRUST_NO_ONE'
aws_et_sns_topic_arn: 'TRUST_NO_ONE'
host: 'http://tlaij23ltie.ngrok.com'
REDISTOGO_URL: 'redis://localhost:6379'

test:
  aws_access_key_id: 'TRUST_NO_ONE'
  aws_secret_access_key: 'TRUST_NO_ONE'
  aws_region: 'TRUST_NO_ONE'
  aws_s3_bucket: 'TRUST_NO_ONE'

development:
  strava_client_id: 'TRUST_NO_ONE'
  strava_api_key: 'TRUST_NO_ONE'
