.direct-upload-form__file-input {
  margin-bottom: 1em;
}

.direct-upload-form__progress-container {
  margin-bottom: 1em;
}

.direct-upload-form__progress-container__bar.progress-bar {
  height: 20px;
  border-radius: 4px;
}
