= react_component 'Uploads', uploads: serialize_to_json(@uploads),
                             jobs: serialize_to_json(@jobs),
                             setups: serialize_to_json(current_user.setups)
